html,
body,
mat-drawer-container,
mat-sidenav-content {
    height: 100%;
    margin: 0;
}

.example-sidenav {
    width: 250px;
}

header mat-toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.large-icon {
  font-size: 30px !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.left,
.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo {
    width: 20vh;
    display: block;
}

.mat-menu-item{
    font-family: "Raleway", sans-serif;

}


.formularios{

    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    margin: 1vh;
    font-weight: 1px;
}


.mat-menu-item{
        font-family: "Raleway", sans-serif;
    font-weight: 1px;   
}

.titulo{
        justify-content: center;

    display: flex;
    flex-direction: row;
}

.titulo img{
    padding: 1.1vh;
    width: 2vh;
    height: 2vh;

}